{{ block "2fa" .  }}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width", initial-scale=1>
        <link href="static/css/dist.css" rel="stylesheet">
        <script src="https://unpkg.com/htmx.org@2.0.3/dist/htmx.js"></script>
        <script src="https://unpkg.com/htmx-ext-disable-element@2.0.0/disable-element.js"></script>
        <script>
            document.addEventListener("DOMContentLoaded", (event) => {

                // for redirect because 2fa not complete
                window.history.replaceState({}, "", "2fa");

                document.title="2fa - @{{ .Login }}";

            })
        </script>
    </head>
    <body id="#body">
        <div class="w-full h-screen flex items-center justify-center">
            <form 
                class="flex items-center justify-center w-[300px] bg-gray-100 border-[1px] border-gray-300 py-[10px] rounded-[10px] shadow-2xl"
                hx-ext="disable-element"
                hx-disable-element=".disable-on-submit"
            >
                <div class="flex flex-col w-[80%] h-[80%] py-[30px]">
                    <h1 class="text-gray-800 text-xl font-semibold mx-auto mb-[20px] underline">
                        Two Factor Auth
                    </h1>

                    {{ if not .AccountSetupComplete }}
                    {{ template "2fa-qr" . }}
                    {{ end }}

                    <div class="text-gray-700 w-full mb-[10px]">
                        <h3 class="ml-[5px] mb-[3px]">Auth Code</h3>
                        <input
                            required
                            maxlength="6"
                            minlength="6"
                            id="code-input"
                            class="disable-on-submit w-full bg-gray-200 p-[8px] text-gray-800 rounded-md shadow-md" type="number" name="code" placeholder="000000"
                        />
                    </div>

                    <button
                        class="disable-on-submit bg-gray-600 my-[15px] py-[8px] text-gray-800 rounded-md bg-opacity-20 hover:bg-opacity-30 disabled:bg-opacity-10 disabled:hover:bg-opacity-10 disabled:hover:cursor-not-allowed"
                        hx-post="2fa"
                        hx-vals='{
                            "account_id": "{{ .AccountId }}",
                            "user_login": "{{ .Login }}",
                            "account_2fa_secret": "{{ .TwoFactorSecret }}",
                            "account_setup_complete": "{{ .AccountSetupComplete }}"
                        }'
                        hx-swap="innerHTML"
                        hx-target="#body"
                        type="submit"
                    >
                        Verify
                    </button>
                    <p class="text-gray-700 mx-auto mt-[5px]">
                        <span>Logged in as </span><span class="font-semibold">@{{ .Login }}</span>
                    </p>
                    <button 
                        class="
                            disable-on-submit
                            text-link
                            underline
                            active:text-link-active
                            disabled:opacity-70
                            disabled:hover:cursor-not-allowed
                            mx-auto
                            mt-[5px]
                        "
                        onclick="document.cookie='token=; exires=Thu, 01 Jan 1970 00:00:00 GMT'; location.reload();"
                    >
                        Logout
                    </button>
                </div>
            </form>
        </div>
        <script>document.getElementById("code-input").focus();</script>
    </body>
</html>
{{ end }}

{{ block "2fa-qr" . }}
<h1 class="text-gray-700 font-semibold">You're almost done!</h1>
<p class="text-gray-700 pb-[10px]">Use this qr code to setup 2FA:</p>

<img 
    class="w-[240px] h-[240px] rounded-md"
    src="http://localhost:42069/qr?data=otpauth://totp/Scrapbook:@{{ .Login }}?issuer=Scrapbook%26secret={{ .TwoFactorSecret }}&id={{ .AccountId }}"
/>
<a style="margin-top: 15px; margin-left: auto; margin-right: auto;" href="https://support.google.com/accounts/answer/1066447?hl=en&co=GENIE.Platform%3DiOS&oco=0" target="_blank">
    How to setup authenticator
</a>
<div class="w-full h-[2px] rounded-full bg-gray-400 my-[20px] opacity-50"></div>
{{ end }}
