{{ block "2fa" .  }}
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>index</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width", initial-scale=1>
        <link href="static/css/dist.css" rel="stylesheet">
        <link href="static/css/2fa.css" rel="stylesheet">
        <script src="https://unpkg.com/htmx.org@2.0.3/dist/htmx.js"></script>
        <script>
            document.addEventListener("DOMContentLoaded", (event) => {

                // for redirect because 2fa not complete
                window.history.replaceState({}, "", "2fa");

            })
        </script>
    </head>
    <body id="#body">
        <div class="w-full h-screen flex items-center justify-center">
            <form class="twofactor-form">
                <div class="twofactor-form-items">
                    {{ if not .AccountSetupComplete }}
                    <h3>You're almost done!</h3>
                    <p style="padding-bottom: 15px">You need to setup 2fa using this qr code:</p>
                    {{ template "2fa-qr" . }}
                    <a style="padding-top: 10px; padding-bottom: 20px; margin-left: auto; margin-right: auto;" href="https://support.google.com/accounts/answer/1066447?hl=en&co=GENIE.Platform%3DiOS&oco=0" target="_blank">
                        How to setup authenticator
                    </a>
                    {{ end }}

                    <h2 style="color: #303030; margin-right: auto; margin-left: auto; margin-top: -2px; margin-bottom: 10px;">
                        Two Factor Auth
                    </h2>
                    <hr style="margin-top: -4px; margin-bottom: 12px;"/>
                    <div class="twofactor-form-item">
                        <h3>Auth Code</h3>
                        <input class="twofactor-form-inputs" type="number" name="code" placeholder="000000" />
                    </div>

                    <button
                        hx-post="2fa"
                        hx-vals='{
                        "account_id": "{{ .AccountId }}",
                        "user_login": "{{ .Login }}",
                        "account_2fa_secret": "{{ .TwoFactorSecret }}",
                        "account_setup_complete": "{{ .AccountSetupComplete }}"
                        }'
                        hx-swap="innerHTML"
                        hx-target="#body"
                        class="twofactor-form-submit"
                        type="submit"
                    >
                        Verify
                    </button>
                    <p style="margin-top: 20px; margin-right: auto; margin-left: auto;">
                        Signed in as @{{ .Login }}
                    </p>
                    <a style="padding-top: 5px; margin-left: auto; margin-right: auto;" href="">
                        Logout
                    </a>
                </div>
            </form>
        </div>
    </body>
</html>
{{ end }}

{{ block "2fa-qr" . }}
<img 
    style="border-radius: 10px;"
    src="http://localhost:42069/qr?data=otpauth://totp/Scrapbook:@{{ .Login }}?issuer=Scrapbook%26secret={{ .TwoFactorSecret }}&id={{ .AccountId }}"
/>
{{ end }}
