{{ block "index" .  }}
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>index</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width", initial-scale=1>
        <link href="static/css/dist.css" rel="stylesheet">
        <script src="https://unpkg.com/htmx.org@2.0.3/dist/htmx.js"></script>
        <script src="https://cdn.tailwindcss.com"></script>
        <script>
            document.addEventListener("DOMContentLoaded", (event) => {
                window.history.replaceState({}, "", "/")
            })
        </script>
    </head>
    <body id="body">
        <script src="https://kit.fontawesome.com/aceb22f7f3.js" crossorigin="anonymous"></script>
        <!-- app container -->
        <div
            class="w-full h-screen flex overflow-y-hidden">
            <!-- sidebar -->
            <div class="sticky w-[250px] h-full">
                {{ template "sidebar" . }}
            </div>
            <!-- right side -->
            <div class="flex flex-col w-full h-full">
                <!-- header -->
                {{ template "header" . }}
                <!-- main display -->
                <div class="w-full h-full">
                    <div class="w-full h-full bg-white rounded-tl-3xl overflow-y-scroll">
                        {{ template "main" .MainDisplay }}
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
{{ end }}
