{{ block "login" . }}
<!DOCTYPE html>
<html id="html" lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width", initial-scale=1>
        <link href="static/css/default.css" rel="stylesheet">
        <script src="https://unpkg.com/htmx.org@2.0.3/dist/htmx.js"></script>
        <script src="https://unpkg.com/htmx-ext-disable-element@2.0.0/disable-element.js"></script>
        <script>
            document.addEventListener("DOMContentLoaded", (event) => {

                // for redirect because of no auth token
                {{ if .IsLogin }} window.history.replaceState({}, "", "login") {{ end }}

                document.body.addEventListener('htmx:beforeSwap', function(evt) {
                    if (evt.detail.xhr.status == 422) {
                        evt.detail.shouldSwap = true;
                        evt.detail.isError = false;
                    }
                })
            })
        </script>
    </head>
    <body id="body">
        {{ template "login-form" . }}
    </body>
</html>
{{ end }}

{{ block "login-form" . }}
<link href="static/css/login.css" rel="stylesheet">
<script>
document.title = {{ if .IsLogin }} "Login" {{ else }} "Signup" {{ end }}
</script>
<div class="login-form-container">
    <form id="login-form" class="login-form"
        hx-replace-url="true"
        hx-target="#body"
        hx-ext="disable-element"
        hx-disable-element=".login-form-inputs"
        {{ if .IsLogin }}
        hx-post="/login"
        {{ else }}
        hx-post="/signup"
        {{ end }}
    >
        <div class="login-form-items">
            <h1 style="color: #303030; margin-right: auto; margin-left: auto; margin-top: -2px; margin-bottom: 10px;">Scrapbook</h1>
            <hr style="margin-top: -4px; margin-bottom: 12px;"/>

            <div class="login-form-item">
                <h3>Username</h3>
                <input class="login-form-inputs" value="{{ .Username }}" type="username" name="username" placeholder="joeshmoe" autocomplete="username" />
            </div>

            <div class="login-form-item">
                <h3>Password</h3>
                <input class="login-form-inputs" value="{{ .Password }}" type="password" name="password" placeholder="password123" autocomplete="current-password" />
            </div>

            {{ if not .IsLogin }}
            <div class="login-form-item">
                <h3>Invite Code</h3>
                <input value="{{ .InviteCode }}" type="text" name="invite" placeholder="C7O6D1E..."/>
            </div>
            {{ end }}

            <button class="login-form-submit" type="submit">
                {{ if .IsLogin }}
                Login
                {{ else }}
                Signup
                {{ end }}
            </button>

            <a 
                hx-swap="innerHTML"
                hx-target="#body"
                hx-put="{{ if .IsLogin }}signup{{ else }}login{{ end }}"
                hx-replace-url="true"
                href=""
                style="font-size: 14px; margin-right: auto; margin-left: auto; margin-top: 10px; margin-bottom: -10px">
                {{ if .IsLogin }}
                Don't
                {{ else }}
                Already
                {{ end }}
                have an account?
            </a>
        </div>
    </form>
</div>
{{ end }}
