{{ block "login" . }}
<!DOCTYPE html>
<html id="html" lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width", initial-scale=1>
        <link href="static/css/dist.css" rel="stylesheet">
        <script src="https://unpkg.com/htmx.org@2.0.3/dist/htmx.js"></script>
        <script src="https://unpkg.com/htmx-ext-disable-element@2.0.0/disable-element.js"></script>
        <script src="https://cdn.tailwindcss.com"></script>
        <script>
            document.addEventListener("DOMContentLoaded", (event) => {

                document.getElementById("username-input").focus();

                // for redirect because of no auth token
                {{ if .IsLogin }} window.history.replaceState({}, "", "login") {{ end }}

                document.body.addEventListener('htmx:beforeSwap', function(evt) {
                    if (evt.detail.xhr.status == 422) {
                        evt.detail.shouldSwap = true;
                        evt.detail.isError = false;
                    }
                })
            })
        </script>
    </head>
    <body id="body">
        {{ template "login-form" . }}
    </body>
</html>
{{ end }}

{{ block "login-form" . }}
<script>
document.title = {{ if .IsLogin }} "Login" {{ else }} "Signup" {{ end }} + " - Scrapbook"
</script>
<div class="w-full h-screen flex items-center justify-center">
    <form
        class="flex items-center justify-center w-[300px] bg-gray-100 border-[1px] border-gray-300 py-[10px] rounded-[10px] shadow-2xl"
        hx-replace-url="true"
        hx-target="#body"
        hx-ext="disable-element"
        hx-disable-element=".disable-on-submit"
        {{ if .IsLogin }}
        hx-post="/login"
        {{ else }}
        hx-post="/signup"
        {{ end }}
    >
        <div class="flex flex-col w-[80%] h-[80%] py-[30px]">
            <h1 class="text-3xl font-semibold text-gray-800 mx-auto mb-[20px] underline">
                Scrapbook
            </h1>

            <div class="text-gray-700 w-full mb-[15px]">
                <h3 class="ml-[5px] mb-[3px]">Username</h3>
                <input required id="username-input" class="disable-on-submit w-full bg-gray-200 p-[8px] text-gray-800 rounded-md shadow-sm" value="{{ .Username }}" type="username" name="username" placeholder="joeshmoe" autocomplete="username" />
            </div>

            <div class="text-gray-700 h-[20%] mb-[15px]">
                <h3 class="ml-[5px] mb-[3px]">Password</h3>
                <input required class="disable-on-submit w-full bg-gray-200 p-[8px] text-gray-800 rounded-md shadow-md" value="{{ .Password }}" type="password" name="password" placeholder="password123" autocomplete="current-password" />
            </div>

            {{ if not .IsLogin }}
            <div class="text-gray-700 h-[20%] mb-[15px]">
                <h3 class="ml-[5px] mb-[3px]">Confirm Password</h3>
                <input required class="disable-on-submit w-full bg-gray-200 p-[8px] text-gray-800 rounded-md shadow-md" value="{{ .Password }}" type="password" name="confirm-password" placeholder="password123" autocomplete="current-password" />
            </div>
            <div class="text-gray-700 h-[20%] mb-[15px]">
                <h3 class="ml-[5px] mb-[3px]">Invite Code</h3>
                <input required class="disable-on-submit w-full bg-gray-200 p-[8px] text-gray-800 rounded-md shadow-md" value="{{ .InviteCode }}" type="text" name="invite" placeholder="C7O6D1E..."/>
            </div>
            {{ end }}

            <button
                class="disable-on-submit bg-gray-600 my-[15px] py-[8px] text-gray-800 rounded-md bg-opacity-20 hover:bg-opacity-30 disabled:bg-opacity-10 disabled:hover:bg-opacity-10 disabled:hover:cursor-not-allowed"
                type="submit"
            >
                {{ if .IsLogin }}
                Login
                {{ else }}
                Signup
                {{ end }}
            </button>

            <button 
                class="
                    disable-on-submit
                    text-link
                    underline
                    active:text-link-active
                    disabled:opacity-70
                    disabled:hover:cursor-not-allowed
                    text-sm
                    mx-auto
                    mt-[15px]
                "
                hx-swap="innerHTML"
                hx-target="#body"
                hx-put="{{ if .IsLogin }}signup{{ else }}login{{ end }}"
                hx-replace-url="true"
                href
            >
                {{ if .IsLogin }}Don't{{ else }}Already{{ end }} have an account?
            </button>
        </div>
    </form>
</div>
{{ end }}
