{{ block "main" . }}
<div>
    <video width="320" height="240" controls>
        <source src="http://localhost:42069/users/prime" type="video/mp4" />
    </video>
    <video width="320" height="240" controls>
        <source src="http://localhost:42069/users/video" type="video/mp4" />
    </video>
    <video width="320" height="240" controls>
        <source src="http://localhost:42069/users/prime" type="video/mp4" />
    </video>
    <video width="320" height="240" controls>
        <source src="http://localhost:42069/users/video" type="video/mp4" />
    </video>
    <video width="320" height="240" controls>
        <source src="http://localhost:42069/users/prime" type="video/mp4" />
    </video>
    <video width="320" height="240" controls>
        <source src="http://localhost:42069/users/video" type="video/mp4" />
    </video>
    <video width="320" height="240" controls>
        <source src="http://localhost:42069/users/prime" type="video/mp4" />
    </video>
    <video width="320" height="240" controls>
        <source src="http://localhost:42069/users/video" type="video/mp4" />
    </video>
    <video width="320" height="240" controls>
        <source src="http://localhost:42069/users/prime" type="video/mp4" />
    </video>
    <video width="320" height="240" controls>
        <source src="http://localhost:42069/users/video" type="video/mp4" />
    </video>
    <video width="320" height="240" controls>
        <source src="http://localhost:42069/users/prime" type="video/mp4" />
    </video>
    <video width="320" height="240" controls>
        <source src="http://localhost:42069/users/video" type="video/mp4" />
    </video>
    <video width="320" height="240" controls>
        <source src="http://localhost:42069/users/prime" type="video/mp4" />
    </video>
    <video width="320" height="240" controls>
        <source src="http://localhost:42069/users/video" type="video/mp4" />
    </video>
    <video width="320" height="240" controls>
        <source src="http://localhost:42069/users/prime" type="video/mp4" />
    </video>
</div>
{{ end }}
