{{ block "index" .  }}
<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width", initial-scale=1>
        <link href="css/style.css" rel="stylesheet">
        <script src="https://unpkg.com/htmx.org@2.0.3/dist/htmx.js"></script>
        <script>
            document.addEventListener("DOMContentLoaded", (event) => {
                document.body.addEventListener('htmx:beforeSwap', function(evt) {
                    if (evt.detail.xhr.status == 422) {
                        evt.detail.shouldSwap = true;
                        evt.detail.isError = false;
                    }
                })
            })
        </script>
    </head>
    <body>
        {{ template "form" .Form }}
        <hr />
        {{ template "display" .Data }}
    </body>
</html>
{{ end }}

{{ block "form" . }}
<form hx- hx-swap="outerHTML" hx-post="/contacts" hx-replace-url="true">
    name: <input
        {{ if .Values.name }} value="{{ .Values.name }}" {{ end }}
        type="text" name="name" />
    email: <input
        {{ if .Values.email }} value="{{ .Values.email }}" {{ end }}
        type="text" name="email" />
    {{ if .Errors.email }}
    <div style="color: red;">{{ .Errors.email }}</div>
    {{ end }}
    <button type="submit" >Sumbit</button>
</form> 
{{ end }}

{{ block "display" . }}
<div id="contacts" style="display: flex; flex-direction: column;">
    {{ range .Contacts }}
    {{ template "contact" . }}
    {{ end }}
</div>
{{ end }}

{{ block "contact" . }}
<div>
    Name: <span>{{ .Name }}</span>
    Email: <span>{{ .Email }}</span>
</div>
{{ end }}

{{ block "oob-contact" . }}
<div id="contacts" hx-swap-oob="afterbegin" >
    {{ template "contact" . }}
</div>
{{ end }}
