@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
    background-color: #f8fafd;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

:link { color: #00008A; text-decoration: underline; }
:visited { color: #00008A; text-decoration: underline; }
:link:active, :visited:active { color: #FF0000; }
